.itemsWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    flex-direction: row;

    .eachItem {
      position: relative;
      min-width: 8rem;
      min-height: 1.5rem;
      border-radius: 10px;
      border: 1px solid gray;

      .delete {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        svg {
          color: red;
          font-size: 1rem;
        }
      }
    }
  }
  .addItem {
    cursor: pointer;
    align-self: flex-end;
    svg {
      color: green;
      font-size: 1.25rem;
    }
  }
}
