.textInputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 12rem;
  min-width: 10rem;

  .container {
    padding: 0.5rem;
    background: rgba(227, 227, 227, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 40px;

    display: flex;
    flex-direction: row;
    height: 3rem;

    .textInput {
      width: 100%;
      padding: 0.5rem;
      border: none;
      background-color: transparent;
      color: #1a1d1f;
      font-size: 0.8rem;

      &.border {
        border: 1px solid #1a1d1f;
      }

      &::placeholder {
        color: #1a1d1f;
        text-transform: capitalize;
      }
    }

    .iconWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      aspect-ratio: 1 / 1;
      font-size: 1.25rem;
      color: green;
      cursor: pointer;
    }
  }
  .error {
    margin-top: 0.25rem;
    color: red;
    margin-left: 1.5rem;
    font-style: normal;
    font-size: 0.85rem;
  }
}
