#forgotPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--white);

  .wrapper {
    border: 1px solid var(--primary-color);
    background: rgba(26, 29, 31, 0.05);
    border-radius: 40px;

    .card {
      padding: 2rem 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      width: 23rem;

      .title {
        font-weight: 400;
        font-size: 2rem;
        text-transform: capitalize;

        color: #1a1d1f;
      }
    }
  }
}
