#complete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f7f8fa;

  .wrapper {
    background: rgba(227, 227, 227, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 40px;

    .card {
      padding: 2rem 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      min-width: 30rem;

      .title {
        text-transform: capitalize;
        font-weight: 400;
        font-size: 2rem;

        color: #1a1d1f;
      }
    }
  }
}
