#mainPage {
  float: right;
  width: calc(100% - 21.5rem);
  background: transparent;
  height: fit-content;

  padding: 2rem;
  margin-top: 3rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;

  transition: all 0.5s;

  &.full {
    width: calc(100% - 5rem);
  }
}
